*{
    margin:0px;
    padding:0px;
}

body{
    background-color:black;
    height:100vh;
}

#tartalom{
    background-color:DarkSlateGray;
    color:#ddd;
    width:80%;
    height:90vh;
}
input, select{
    background-color:rgba(0,0,0,0.6);
    color:#ddd;
    font-weight:bold;
    margin:10px auto;
    display:block;
    width:300px;
    padding:5px;
    box-sizing: border-box;
}

input:focus{
    font-weight:bold;
    border:1px solid blue!important; 
    outline:none;
}

input:invalid{
    border:1px solid red;
}
table{
    width:80%;
    margin:0px auto;
}
td{
    background-color:rgba(0,0,0,0.2);
}
th{
    background-color:rgba(0,0,0,0.6);
}
tr:nth-child(even){
    background-color:rgba(0,0,0,0.4);
}
tr:hover{
    background-color:rgba(0,0,0,1);
    color:white;
}

fieldset{
    width:400px;
    margin:20px auto;
}

legend{
    font-size:22px;
}

th,td{
    padding:10px;
    text-align: center;
}

.legordulo{
     width:300px;
     margin:0px auto;
     padding:5px;
}
.legordulo label{
    font-weight:bold;
}
.legordulo select{
    padding:5px;
}