*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color:rgb(102,102,132);
}
#sidemenu{
    width:200px;
    background-color:rgb(25, 25, 112,0.8);
    color:#ccc;
    position:fixed;
    left:0px;
    height:100vh;
}
#main{
    width:600px;
    background-color:rgb(25, 25, 112,0.8);
    color:#ccc;
    margin:0px auto;
    box-shadow:2px 2px 5px black;
    border:1px solid white;
}
a{
    width:140px;
    margin:20px auto;
    color:#ccc;
    padding:10px;
    display:block;
    border:2px solid white;
    text-decoration: none;
    background-color:rgb(16,16,58);
    text-align: center;
}
a:hover{
    background-color:rgba(200,200,200,0.6);
}
p{
    text-align:justify;
    padding:10px;
    text-indent:10px;
}
img{
    position:absolute;
    width:120px;
    margin:40px;
    bottom:20px;
}