<h1>Angular megoldas</h1>
<div class="form-group">
<label for="sulyInput">Add meg a súlyod kilogramban</label>
<input type="number" class="form-control" id="sulyInput" [(ngModel)]="suly">

<label for="magassag" name="magassag" >Add meg a magasságod méterben</label>
<input type="number" id="magassag" (ngModel)]="magassag">
<button type="button" value="Mentes"(click)="eredmenyMentes()" class="btn btn-success form-control">Eredmény mentése</button>
</div>

<p>A megadott érték alapján a tesstömeg index: {{suly/(magassag*magassag)}}</p>
 <ul>
    <li *ngFor="let eredmeny of megoldas">
{{eredmeny}}
    </li>
</ul>